@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{
    font-family: "Inter";
}

p{
    font-family: "Inter";
}

label{
    font-family: "Inter";
}

label .fib{
    display: none;
}

button{
    cursor: pointer;
    border-radius: 1vh;
    padding: 5px 15px;
    font-family: "Inter";
}